.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    background-color: white;
  }
  
  .image{
    padding-top: 10px;
  }

  .price {
    color: gray;
    font-size: 22px;
    font-weight: bold;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgb(38, 172, 161);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    bottom: 0;
  }
  
  .card button:hover {
    opacity: 0.9;
  }